* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    height: 100%;
}

header {
    width: 75vw;
    height: 6rem;
    background: #ccc;
    margin: 0 auto;
}

main {
    margin: 5rem auto;
    width: 70vw;
    height: 80%;
    background: #ccc;
    display: flex;
    justify-content: center;
}

.product-container {
    width: 50%;
    background-color: aqua;
}

.info-container {
    width: 50%;
}

#image-main {
    width: 21rem;
    height: 21rem;
} 

#image-main > img {
    width: 100%;
    height: auto;
}

.image-group {
    display: flex;
}

.thumbnail {
    width: 4rem;
    height: 4rem;
}
